.content
  = render :partial => 'users/nav_bar', :locals => { :current_user => current_user }

- flash.each do |type, msg|
  %div{:class => "alert alert-#{type == :notice ? "success" : type} fadeout", "data-dismiss" => "alert"}
    %button.close &times;
    = msg if msg.is_a?(String)

%div.container
  %h2 All Teams

%div.container
  - @teams.each_slice(4) do |slice|
    %div.row
      - slice.each do |team|
        %div.team-tile-wrapper.col-sm-12.col-md-3
          %div.team-tile

            %div.team-tile-img{:style => "background-image: url('#{team.image.url}')"}
              -# %div.team-tile-img-overlay


            %div.team-tile-info
              %h4= "#{team.name}"
              %p.leader= "Leader: #{team.leader.first} #{team.leader.last}"

              %p.size= "Size: #{team.members.length}"

              = link_to "More about #{team.name}", team_path(team)

= link_to 'Back', users_path
= link_to 'Create Team', team_create_path
