.content
  = render :partial => 'users/nav_bar', :locals => { :current_user => current_user }

.content
  = render :partial => 'users/flash_messages', :locals => { :flash => flash }

%div.container
  %h2 All Teams

%div.container
  = form_tag(team_create_path, :method => 'GET', class: %w[form form-inline my-2 my-lg-0]) do
    = submit_tag "Create a Team", name: nil, class: %w[button btn btn-outline-success my-2 my-sm-0]

%div.container
  - @teams.each_slice(4) do |slice|
    %div.row
      - slice.each do |team|
        %div.team-tile-wrapper.col-sm-12.col-md-3
          %div.team-tile

            %div.team-tile-img{:style => "background-image: url('#{team.image.url}')"}
              -# %div.team-tile-img-overlay


            %div.team-tile-info
              %h4= "#{team.name}"
              %p.leader= "Leader: #{team.leader.first} #{team.leader.last}"

              %p.size= "Size: #{team.members.length}"

              = link_to "More about #{team.name}", team_path(team)
