.content
  = render :partial => 'users/nav_bar', :locals => { :current_user => current_user }

.content
  = render :partial => 'users/flash_messages', :locals => { :flash => flash }

%div.container.title-container
  %h1= "#{@team.name}"

%div.container.form-container
  .row
    .col-md-8.form-img-wrapper
      = image_tag @team.image.url

    .col-md-4

      %h4= "Team Leader"
      .content
        = render :partial => 'users/display_users', :locals => { :@users => [@team.leader]}

%div.container.title-container
  %h4 Members

- if @team.members.length == 1
  %div.container.title-container
    %h6 None
- else
  .content
    = render :partial => 'users/display_users', :locals => { :@users => @team.members - [@team.leader]}

%div.container.title-container
  %h2 Become a Member

  = form_tag(add_member_path(@team), :method => 'PATCH', class: %w[form form-inline my-2 my-lg-0]) do
    = text_field_tag(:password, nil, :placeholder => "Team Password", class: %w[input form-control], :id => "password")
    = submit_tag "Join Team", name: nil, class: %w[button btn btn-outline-success my-2 my-sm-0]
