.page_format{:style => " margin-left: 15px;"}

.content
  = render :partial => 'users/nav_bar', :locals => { :current_user => current_user }

.content
  = render :partial => 'users/flash_messages', :locals => { :flash => flash }

%h2= @announcement.title
%p= @announcement.description

- if current_user.admin?
  = link_to "Edit", edit_announcement_path(@announcement)
  = link_to "Delete", announcement_path(@announcement), method: :delete, data: { confirm: "Are you sure?" }

= link_to "Back", announcements_path
