= javascript_include_tag "application"

- flash.each do |type, msg|
  %div{:class => "alert alert-#{type == :notice ? "success" : type} fadeout", "data-dismiss" => "alert"}
    %button.close &times;
    = msg if msg.is_a?(String)

%nav.navbar.navbar-expand-lg.navbar-light.bg-light
  %div.container
    %a.navbar-brand{:href => home_path} Entrepreneurs @ Berkeley
    %button.navbar-toggler{"aria-controls" => "navbarSupportedContent", "aria-expanded" => "false", "aria-label" => "Toggle navigation", "data-target" => "#navbarSupportedContent", "data-toggle" => "collapse", :type => "button"}
      %span.navbar-toggler-icon

    #navbarSupportedContent.collapse.navbar-collapse
      %ul.navbar-nav.ml-auto
        %li.nav-item
          %a.nav-link#user-link{:href => user_path(current_user)}
            = image_tag current_user.image.url
            -# = image_tag current_user.image.url(:small)
            #{current_user.first} #{current_user.last}

        &nbsp &nbsp &nbsp

        %li.nav-item
          %a.nav-link{:href => destroy_user_session_path, "data-method" => "delete"} Logout

- if current_user.admin?
  =link_to 'Regular View', users_path

%h2 All Users

= form_tag(users_admin_path, :method => 'GET') do
  = text_field_tag(:search, params[:search])
  = submit_tag "Search", name: nil

%table.table-striped.col-md-10#users
  %thead
    %tr
      %th First
      %th Last
      %th Email
      %th Team
      %th Skillset
      %th SID
      %th Year
      %th Major
      %th Facebook
      %th LinkedIn
      %th Privileges

  %tbody
    - @users.each do |user|
      %tr
        %td= user.first
        %td= user.last
        %td= user.email
        %td= user.team
        %td= user.skillset
        %td= user.sid
        %td= user.major
        %td= user.facebook
        %td= user.linkedinLstring
        %td= user.privileges
        %td= link_to "More about #{user.first}", user_path(user)

= form_tag(change_code_path(access_level: "regular"), :method => 'PATCH') do
  = text_field_tag(:registration_code, Code.regular_code)
  = submit_tag "Change Regular Access Code", name: nil

= form_tag(change_code_path(access_level: "admin"), :method => 'PATCH') do
  = text_field_tag(:admin_code, Code.admin_code)
  = submit_tag "Change Admin Access Code", name: nil

= link_to 'Download Roster', download_roster_path

= link_to 'Back', home_path
