= javascript_include_tag "application"

- flash.each do |type, msg|
  %div{:class => "alert alert-#{type == :notice ? "success" : type} fadeout", "data-dismiss" => "alert"}
    %button.close &times;
    = msg if msg.is_a?(String)

%table{:border => 0}
  %tbody
    %tr
      %td
        %h1.lol= link_to 'Entrepreneurs @ Berkeley', home_path
      %td
        &nbsp &nbsp &nbsp &nbsp &nbsp &nbsp &nbsp &nbsp
      %td
        &nbsp &nbsp
      %td
        &nbsp &nbsp
      %td
        = link_to 'Logout', destroy_user_session_path, :method => :delete
        &nbsp &nbsp
      %td
        &nbsp &nbsp &nbsp &nbsp &nbsp &nbsp &nbsp
      %td
        &nbsp &nbsp
      %td
        = image_tag(current_user.image.url(:small))
      %td
        = link_to "#{current_user.first} #{current_user.last}", user_path(current_user)

- if current_user.admin?
  =link_to 'Regular View', users_path

%h2 All Users

= form_tag(users_admin_path, :method => 'GET') do
  = text_field_tag(:search, params[:search])
  = submit_tag "Search", name: nil

%table.table-striped.col-md-10#users
  %thead
    %tr
      %th First
      %th Last
      %th Email
      %th Team
      %th Skillset
      %th SID
      %th Facebook
      %th LinkedIn
      %th Privileges

  %tbody
    - @users.each do |user|
      %tr
        %td= user.first
        %td= user.last
        %td= user.email
        %td= user.team
        %td= user.skillset
        %td= user.sid
        %td= user.facebook
        %td= user.linkedinLstring
        %td= user.privileges
        %td= link_to "More about #{user.first}", user_path(user)

= form_tag(change_registration_code_path, :method => 'PATCH') do
  = text_field_tag(:registration_code, Code.regular_code)
  = submit_tag "Change Regular Access Code", name: nil

= form_tag(change_admin_code_path, :method => 'PATCH') do
  = text_field_tag(:admin_code, Code.admin_code)
  = submit_tag "Change Admin Access Code", name: nil

= link_to 'Download Roster', download_roster_path

= link_to 'Back', home_path
