%h2 Home
= link_to 'Login', new_user_session_path
= link_to 'Create New Account', new_user_registration_path
= link_to 'Logout', destroy_user_session_2_path

%ul#details
  %li
    Message:
    = @message

= button_to 'Search Users', users_path(), :method => :get

/ home page content to fill in later.
/ can be static
