
.content
  = render :partial => 'users/nav_bar', :locals => { :current_user => current_user }

.content
  = render :partial => 'users/flash_messages', :locals => { :flash => flash }


- if current_user.admin?
  =link_to 'Admin View', users_admin_path

%div.container.title-container
  %h2 Members

  = form_tag(users_path, :method => 'GET', class: %w[form form-inline my-2 my-lg-0]) do
    = text_field_tag(:search, params[:search], :placeholder => "ex. Michael", class: %w[input form-control], :id => "searchField")
    = submit_tag "Search", name: nil, class: %w[button btn btn-outline-success my-2 my-sm-0]
  :javascript
    var list = #{raw @autoComplete};
    var json = [];
    for (var i = 0; i < list.length; i++) {
      var dict = {};
      dict["name"] = list[i];
      json.push(dict)
    }
    var options = {
      data: json,
      getValue: "name",
      list: {
        match: {
          enabled: true
        }
      }
    };
    $("#searchField").easyAutocomplete(options);


.content
  = render :partial => 'users/display_users', :locals => { :@users => @users}


= link_to 'Back', home_path
