%h2 All Users

%table.table-striped.col-md-10#users
  %thead
    %tr
      %th= link_to "First", :sort => "first"
      %th= link_to "Last", :sort => "last"
      %th Email
      %th Team
      %th Skillset
      %th SID
      %th Facebook
      %th LinkedIn
      %th Privileges

  %tbody
    - @users.each do |user|
      %tr
        %td= user.first
        %td= user.last
        %td= user.email
        %td= user.team
        %td= user.skillset
        %td= user.sid
        %td= user.facebook
        %td= user.linkedinLstring
        %td= user.privileges
        %td= link_to "More about #{user.first}", user_path(user)

= link_to 'Back', home_path
