- flash.each do |type, msg|
  %div{:class => "alert alert-#{type == :notice ? "success" : type} fadeout", "data-dismiss" => "alert"}
    %button.close &times;
    = msg if msg.is_a?(String)


%nav.navbar.navbar-expand-lg.navbar-light.bg-light
  %div.container
    %a.navbar-brand{:href => home_path} Entrepreneurs @ Berkeley
    %button.navbar-toggler{"aria-controls" => "navbarSupportedContent", "aria-expanded" => "false", "aria-label" => "Toggle navigation", "data-target" => "#navbarSupportedContent", "data-toggle" => "collapse", :type => "button"}
      %span.navbar-toggler-icon

    #navbarSupportedContent.collapse.navbar-collapse
      %ul.navbar-nav.ml-auto
        %li.nav-item
          %a.nav-link{:href => new_user_session_path} Login
        %li.nav-item
          %a.nav-link{:href => new_user_registration_path} Create New Account
        %li.nav-item
          %a.nav-link{:href => destroy_user_session_path, "data-method" => "delete"} Logout
        %li.nav-item
          %a.nav-link{:href => user_path(current_user)}
            = image_tag(current_user.image.url(:small))
            #{current_user.first} #{current_user.last}

-# %table{:border => 0}
-#   %tbody
-#     %tr
-#       %td
-#         %h1= link_to 'Entrepreneurs @ Berkeley', home_path
-#       %td
-#         &nbsp &nbsp &nbsp &nbsp &nbsp &nbsp &nbsp &nbsp
-#       %td
-#         = link_to 'Login', new_user_session_path
-#         &nbsp &nbsp
-#       %td
-#         = link_to 'Create New Account', new_user_registration_path
-#         &nbsp &nbsp
-#       %td
-#         = link_to 'Logout', destroy_user_session_path, :method => :delete
-#         &nbsp &nbsp
-#       %td
-#         &nbsp &nbsp &nbsp &nbsp &nbsp &nbsp &nbsp
-#       %td
-#         &nbsp &nbsp
-#       %td
-#         = image_tag(current_user.image.url(:small))
-#       %td
-#         = link_to "#{current_user.first} #{current_user.last}", user_path(current_user)

- if current_user.admin?
  =link_to 'Admin View', users_admin_path

%div.container.title-container
  %h2 Members

  = form_tag(users_path, :method => 'GET', class: %w[form form-inline my-2 my-lg-0]) do
    = text_field_tag(:search, params[:search], :placeholder => "ex. Michael", class: %w[input form-control])
    = submit_tag "Search", name: nil, class: %w[button btn btn-outline-success my-2 my-sm-0]


%div.container
  - @users.each_slice(4) do |slice|
    %div.row
      - slice.each do |user|
        %div.user-tile-wrapper.col-sm-12.col-md-3
          %div.user-tile

            %div.user-tile-img
              = image_tag(user.image.url(:small))

            %div.user-tile-info
              %p= "#{user.first} #{user.last}"
              %p= user.team
              %p= user.skillset
              %p= user.facebook
              %p= user.linkedinLstring
              %p= user.privileges
              %a= link_to "More about #{user.first} #{user.last}", user_path(user)

= link_to 'Back', home_path
