%h1 Login Page

= form_tag login_path do

  = label :user, :email, 'Email'
  = text_field :email, 'email'

  = label :user, :password, 'Password'
  = password_field :password, 'password'

  = submit_tag 'Login'

= link_to 'Back', home_path
= link_to 'Forgot Password', forgot_page_path
= link_to 'Create New Account', create_page_path
