%table{:border => 0}
  %tbody
    %tr
      %td
        %h1.lol= link_to 'Entrepreneurs @ Berkeley', home_path
      %td
        &nbsp &nbsp &nbsp &nbsp &nbsp &nbsp &nbsp &nbsp
      %td
        = link_to 'Login', new_user_session_path
        &nbsp &nbsp
      %td
        = link_to 'Create New Account', new_user_registration_path
        &nbsp &nbsp
      %td
        = link_to 'Logout', destroy_user_session_path, :method => :delete
        &nbsp &nbsp
      %td
        &nbsp &nbsp &nbsp &nbsp &nbsp &nbsp &nbsp
      %td
        &nbsp &nbsp
      %td
        = image_tag(current_user.image.url(:small))
      %td
        = link_to "#{current_user.first} #{current_user.last}", user_path(current_user)

%h2 Profile

= image_tag @user.image.url(:medium)
%h3 #{@user.first} #{@user.last}

%ul#details
  %li
    Team:
    = @user.team
  %li 
    Email: 
    - if current_user.admin?
      = @user.email
    -else 
      = "      "
      = @emailName
      = image_tag "atSymbol.jpg", :size => "50x50"  
      = @emailHost
      = image_tag "period.png",  :size => "50x50"  
      = @emailDomain


= link_to 'Back', users_path
= link_to 'Edit User', edit_page_path(@user)
- if current_user.admin?
  = button_to "Delete User", users_path(@user), params: {:toDelete => @user.id}, data: { confirm: "Are you sure?" }, method: :delete 
= link_to 'Home', home_path
