%h2 Show

= image_tag @user.image.url(:medium)
%h3 Details about #{@user.first} #{@user.last}

%ul#details
  %li
    Team:
    = @user.team
  %li
    SID:
    = @user.sid
  %li 
    Email: 
    - if current_user.admin?
      = @user.email
    -else 
      = =image_tag "period.png"

= link_to 'Search Users', users_path
= link_to 'Edit User', edit_page_path(@user)
- if current_user.admin?
  = button_to "Delete User", users_path(@user), params: {:toDelete => @user.id}, data: { confirm: "Are you sure?" }, method: :delete 
= link_to 'Home', home_path
