.page_format{:style => " margin-left: 15px;"}

.content
  = render :partial => 'users/nav_bar', :locals => { :current_user => current_user }


%div.profile-container.container
  %div.row
    %div.profile-side-wrapper.col-4
      Profile Pic

    %div.profile-main-wrapper.col-8
      Main Stuff


%table{:border => 0}
  %tbody
    %tr
      %td.some{ style: '' }
        = image_tag @user.image.url(:medium), :style => "border-radius: 50%; max-height: 200px;", class:"img-responsive img-circle"
        &nbsp &nbsp
      %td.info{ valign: 'top'}
        %table
          %tr
            %td.profileName{ style: 'font-size: 30px;',  }
              %h3 #{@user.first} #{@user.last}
          %tr
            %td.profileMajor{ style: 'font-size: 20px;' }
              %h5 Major: #{@user.major}
          %tr
            %td.profileYear{ style: 'font-size: 17px;' }
              Year:
              = @user.year
          %tr
            %td.profileTeam{ style: 'font-size: 17px;' }
              Team:
              = @user.team
          %tr
            %td.profileEmail{ style: 'font-size: 17px;' }
              Email:
              - if current_user.admin?
                = @user.email
              -else
                = "      "
                = @emailName
                = image_tag "atSymbol.jpg", :size => "30x30"
                = @emailHost
                = image_tag "period.png",  :size => "30x30"
                = @emailDomain
          %tr
            %td.profileEmail{ style: 'font-size: 17px;' }
              Skills: #{@user.skillset}

= link_to 'Back', users_path

- if current_user.id == @user.id
  = link_to 'Edit Account', edit_page_path(@user)

- if current_user.admin?
  = button_to "Delete User", users_path(@user), params: {:toDelete => @user.id}, data: { confirm: "Are you sure?" }, method: :delete

= link_to 'Home', home_path
