- flash.each do |type, msg|
  %div{:class => "alert alert-#{type == :notice ? "success" : type} fadeout", "data-dismiss" => "alert"}
    %button.close &times;
    = msg if msg.is_a?(String)

%table{:border => 0}
  %tbody
    %tr
      %td
        %h1= link_to 'Entrepreneurs @ Berkeley', home_path
      %td
        &nbsp &nbsp &nbsp &nbsp &nbsp &nbsp &nbsp &nbsp
      %td
        = link_to 'Login', new_user_session_path
        &nbsp &nbsp
      %td
        = link_to 'Create New Account', new_user_registration_path
        &nbsp &nbsp
      %td
        = link_to 'Logout', destroy_user_session_path, :method => :delete
        &nbsp &nbsp
      %td
        &nbsp &nbsp &nbsp &nbsp &nbsp &nbsp &nbsp
      %td
        &nbsp &nbsp
      %td
        = image_tag(current_user.image.url(:small))
      %td
        = link_to "#{current_user.first} #{current_user.last}", user_path(current_user)


%div.container
  %h2 All Teams

%table.table-striped.col-md-10#teams
  %thead
    %tr
      %th Name
      %th Profile

  %tbody
    - @projects.each do |project|
      %tr
        %td= project.name
        %td= link_to "More about #{project.name}", project_prof_path(project)



= link_to 'Back', users_path
= link_to 'Create Team', project_create_path